---
interface Props {
  name: string;
  duration: string;
  description: string;
  numeralSvg: string;
  accentColor: string; // New prop for the color
}

function hexToRGB(hex: string) {
  // Remove the # if present
  hex = hex.replace("#", "");

  // Parse the hex values
  const r = parseInt(hex.substring(0, 2), 16);
  const g = parseInt(hex.substring(2, 4), 16);
  const b = parseInt(hex.substring(4, 6), 16);

  // Return RGB values as a string
  return `${r}, ${g}, ${b}`;
}

const {
  name,
  duration,
  description,
  numeralSvg,
  accentColor = "#0275DF",
}: Props = Astro.props;
---

<style define:vars={{ "accent-color": hexToRGB(accentColor) }}></style>

<section class="pb-10">
  <!-- Project Number -->
  <div class="container">
    <div class="flex flex-row items-center pb-[40px] overflow-hidden">
      <!-- 
      <div
        class={`text-[white] w-[16px] h-[16px] bg-[#000] z-10 flex items-center justify-center`}
      >
        <Fragment set:html={numeralSvg} />
      </div>
      -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1268"
        height="5"
        fill="currentColor"
        viewBox="0 0 1268 5"
      >
        <path
          fill-rule="evenodd"
          d="M4 .5h6v4H9v-3H5v3H0v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
  </div>

  <div class="container flex flex-col">
    <h1 class="w-full">
      {name}
    </h1>

    <p set:html={description} class="w-full text-[var(--color-secondary)]" />
    <p class="w-full text-[var(--color-secondary)]">Fall 2024</p>
    <p class="w-full text-[var(--color-secondary)]">
      UI design, Product Strategy, Development
    </p>
  </div>
</section>
