---
interface Props {
  name: string;
  duration: string;
  description: string;
  numeralSvg: string;
  accentColor: string; // New prop for the color
}

function hexToRGB(hex: string) {
  // Remove the # if present
  hex = hex.replace("#", "");

  // Parse the hex values
  const r = parseInt(hex.substring(0, 2), 16);
  const g = parseInt(hex.substring(2, 4), 16);
  const b = parseInt(hex.substring(4, 6), 16);

  // Return RGB values as a string
  return `${r}, ${g}, ${b}`;
}

const {
  name,
  duration,
  description,
  numeralSvg,
  accentColor = "#0275DF",
}: Props = Astro.props;
---

<style define:vars={{ "accent-color": hexToRGB(accentColor) }}></style>

<section class="pb-[80px]">
  <!-- Project Number -->
  <div class="container -wide flex flex-row items-center pb-[80px]">
    <div class={`h-[1px] w-[16px] bg-black hidden lg:block`}></div>
    <div
      class={`text-white w-[20px] h-[20px] bg-[#000] z-10 flex items-center justify-center`}
    >
      <Fragment set:html={numeralSvg} />
    </div>
    <div class={`h-[1px] flex-grow bg-black`}></div>
  </div>

  <div class="container flex flex-col">
    <h1 class="w-full text-[var(--color-primary)]">
      {name}
    </h1>
    <p class="text-xs uppercase text-[var(--color-secondary)]">
      {duration}
    </p>

    <p set:html={description} class="w-full" />
  </div>
</section>
