---
interface Props {
  name: string;
  duration: string;
  description: string;
  numeralSvg: string;
  accentColor: string; // New prop for the color
}

function hexToRGB(hex: string) {
  // Remove the # if present
  hex = hex.replace("#", "");

  // Parse the hex values
  const r = parseInt(hex.substring(0, 2), 16);
  const g = parseInt(hex.substring(2, 4), 16);
  const b = parseInt(hex.substring(4, 6), 16);

  // Return RGB values as a string
  return `${r}, ${g}, ${b}`;
}

const {
  name,
  duration,
  description,
  numeralSvg,
  accentColor = "#0275DF",
}: Props = Astro.props;
---

<style define:vars={{ "accent-color": hexToRGB(accentColor) }}></style>

<section class="pb-10 pt-1">
  <!-- Project Number -->
  <div>
    <div
      class="flex flex-row items-center pb-[40px] overflow-hidden text-neutral-500"
    >
      <!-- 
      <div
        class={`text-[white] w-[16px] h-[16px] bg-[#000] z-10 flex items-center justify-center`}
      >
        <Fragment set:html={numeralSvg} />
      </div>
      -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1268"
        height="5"
        fill="currentColor"
        viewBox="0 0 1268 5"
      >
        <path
          fill-rule="evenodd"
          d="M4 .5h6v4H9v-3H5v3H0v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Zm10 0h6v4h-1v-3h-4v3h-5v-1h4v-3Z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
  </div>

  <div class="flex flex-col max-w-[480px] px-6">
    <div class="flex flex-row items-center gap-2 text-xs">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="none"
        viewBox="0 0 16 16"
      >
        <path fill="#0A0300" d="M0 0h16v16H0z"></path>
        <path
          fill="#fff"
          d="M9.746 9.473H6.291a.117.117 0 0 0-.12.115v2.294c0 .063.054.115.12.115h5.707L9.746 9.473Z"
        ></path>
        <path
          fill="#fff"
          d="M9.746 6.585v2.89l2.252 2.524V6.585a.117.117 0 0 0-.12-.115H9.867a.117.117 0 0 0-.12.115ZM6.25 9.414v-2.89L3.998 4v5.414c0 .064.054.115.12.115H6.13a.117.117 0 0 0 .119-.115Z"
        ></path>
        <path
          fill="#fff"
          d="M6.211 6.632h3.4c.083 0 .15-.054.15-.12V4.12c0-.066-.067-.12-.15-.12H4.003l2.21 2.632Z"
        ></path>
      </svg>

      weweb
    </div>

    <h2 class="w-full mt-4 mb-2">
      {name}
    </h2>

    <p set:html={description} class="w-full text-secondary" />

    <!-- 
    <p class="w-full text-[var(--color-secondary)]">Fall 2024</p>
    <p class="w-full text-[var(--color-secondary)]">
      UI design, Product Strategy, Development
    </p>
    -->
  </div>
</section>
