---
import numeral from "../svg/numeral-three.svg?raw";
import ProjectHeader from "./ProjectHeader.astro";
import AiToggle from "./ww/AiToggle.vue";
import WwChat from "./ww/WwChat.vue";
import { Image } from "astro:assets";
import background from "../images/bg2.png";
import background2 from "../images/bg3.png";
import tweetPreview from "../images/A0WjaEhdd9njCUcp.jpg";
import WwAiContext from "./ww/WwAiContext.vue";
---

<section class="py-[80px]">
  <div class="container -wide">
    <div class="border border-neutral-400">
      <ProjectHeader
        name="WeWeb AI"
        duration="Winter 2024 - Coming soon"
        description="WeWeb AI is a new way to build applications with AI."
        numeralSvg={numeral}
        accentColor="#274076"
      />

      <div class="grid grid-cols-5 gap-4 p-6">
        <div
          class="relative bg-white border col-span-2 border-neutral-200 flex items-center justify-center rounded-md"
        >
          <Image
            src={background}
            class="absolute top-0 left-0 w-full h-full object-cover z-0"
            alt=""
            quality={100}
          />
          <AiToggle
            class="scale-150 translate-z-0 backface-hidden subpixel-antialiased z-10"
            client:only="vue"
          />
        </div>
        <div
          class="relative rounded-md row-span-3 col-span-3 h-[720px] flex items-start justify-center overflow-hidden p-6"
        >
          <Image
            src={background}
            class="absolute top-0 left-0 w-full h-full object-cover z-0"
            alt=""
            quality={100}
          />

          <WwChat client:only="vue" class="z-10" />
        </div>

        <div
          class="relative bg-white border col-span-2 border-neutral-200 flex items-center justify-center rounded-md"
        >
          <Image
            src={background}
            class="absolute top-0 left-0 w-full h-full object-cover z-0"
            alt=""
            quality={100}
          />
          <WwAiContext client:only="vue" class="z-10" />
        </div>

        <a
          href="https://x.com/lukaivnvc/status/1866056100409417827"
          target="_blank"
          rel="noopener noreferrer"
          class="relative bg-white border col-span-2 row-span-2 border-neutral-200 items-center justify-center rounded-md aspect-video"
          aria-label="View Twitter post about building a Twitter clone with WeWeb AI"
        >
          <Image
            src={tweetPreview}
            class="absolute top-0 left-0 w-full h-full object-cover z-0"
            alt=""
            quality={100}
          />
          <div
            class="absolute top-0 left-0 p-4 w-full bg-gradient-to-b from-black to-transparent text-white"
          >
            Building a Twitter clone with @weweb_io AI in about 5 minutes
          </div>

          <div class="absolute inset-0 flex items-center justify-center">
            <div
              class="w-16 h-16 bg-white bg-opacity-80 rounded-full flex items-center justify-center shadow-lg hover:bg-opacity-100 transition-all duration-300"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="text-neutral-900"
              >
                <path d="M8 5v14l11-7z"></path>
              </svg>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <style>
    .r-l5o3uw {
      background-color: red !important;
    }
  </style>
</section>
