---
import { Image } from "astro:assets";
import wwEditorMain from "../images/test2.jpg";
import wwEditorWorkflow from "../images/workflow.png";
import wwEditorFormula from "../images/formula.png";
import wwEditorDesignSystem from "../images/ww-editor-design-system.png";
import designSystem1 from "../images/ds-01.png";
import designSystem2 from "../images/ds-02.png";
import designSystem3 from "../images/ds-03.png";
import designSystem4 from "../images/ds-04.png";
import designSystem5 from "../images/ds-05.png";
import numeral from "../svg/numeral-one.svg?raw";
import ProjectHeader from "./ProjectHeader.astro";
---

<section class="py-[240px]">
  <ProjectHeader
    name="WeWeb Editor"
    duration="2022 - PRESENT"
    description="The editor features many complex and intertwining systems such as components, workflows and more. We take web best practices and present them in an elevated and clear interface. As a result, editor can export clean and modern code."
    numeralSvg={numeral}
  />

  <!-- Editor Image -->
  <div class="container -wide">
    <Image
      class="drop-shadow-lg w-full border border-neutral-700"
      src={wwEditorMain}
      alt=""
    />
  </div>

  <div class="dark-mode-section">
    <div class="container -wide mt-[240px]">
      <div class="w-full flex flex-col">
        <div>
          <div class="grid grid-cols-1 lg:grid-cols-8 gap-4 w-full">
            <Image
              src={wwEditorWorkflow}
              alt=""
              quality={100}
              class="col-span-1 lg:col-span-5 bg-neutral-900 rounded-sm border border-neutral-700 overflow-hidden"
            />

            <Image
              src={wwEditorFormula}
              alt=""
              quality={100}
              class="col-span-1 lg:col-span-3 bg-neutral-900 rounded-sm border border-neutral-700 overflow-hidden"
            />

            <div
              class="max-w-[640px] col-span-1 lg:col-span-5 text-md text-[var(--color-secondary)] row-start-2"
            >
              Use pre-made actions like navigating to a page, changing a
              variable or simply write JavaScript
            </div>

            <div
              class="max-w-[560px] col-span-1 lg:col-span-3 text-md text-[var(--color-secondary)]"
            >
              Bind anything like a style property to other values or variables
            </div>
          </div>

          <div class="grid grid-cols-1 lg:grid-cols-8 gap-6 w-full mt-4"></div>
        </div>
      </div>
    </div>

    <div class="container -wide mt-[240px]">
      <div class="w-full flex flex-col">
        <div>
          <div class="grid grid-cols-1 lg:grid-cols-4 gap-4 w-full">
            <Image
              src={designSystem1}
              alt=""
              quality={100}
              class="bg-neutral-900 rounded-sm border border-neutral-700 overflow-hidden"
            />
            <Image
              src={designSystem2}
              alt=""
              quality={100}
              class="bg-neutral-900 rounded-sm border border-neutral-700 overflow-hidden"
            />
            <Image
              src={designSystem5}
              alt=""
              quality={100}
              class="lg:col-span-2 lg:row-span-2 bg-neutral-900 rounded-sm border border-neutral-700 overflow-hidden"
            />
            <Image
              src={designSystem3}
              alt=""
              quality={100}
              class="bg-neutral-900 rounded-sm border border-neutral-700 overflow-hidden"
            />
            <Image
              src={designSystem4}
              alt=""
              quality={100}
              class="bg-neutral-900 rounded-sm border border-neutral-700 overflow-hidden"
            />
          </div>

          <div class="text-md text-[var(--color-secondary)] mt-4 max-w-[50%]">
            Design system sports a neutral and compact look for maximum
            functionality
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
