---
import { Image } from "astro:assets";
import wwEditorMain from "../images/test2.jpg";
import wwEditorWorkflow from "../images/workflows.jpg";
import wwEditorFormula from "../images/formula.png";
import numeral from "../svg/numeral-one.svg?raw";
import ProjectHeader from "./ProjectHeader.astro";
---

<section class="py-[80px]">
  <ProjectHeader
    name="WeWeb"
    duration="2022 - PRESENT"
    description="The editor features many intertwining systems such as components, styles, workflows and more."
    numeralSvg={numeral}
    accentColor="#274076"
  />

  <div class="container grid grid-cols-2 gap-4">
    <Image src={wwEditorMain} class="col-span-2" alt="" quality={100} />
    <Image src={wwEditorWorkflow} class="col-span-2" alt="" quality={100} />
    <Image src={wwEditorFormula} alt="" quality={100} />
    <Image src={wwEditorFormula} alt="" quality={100} />
  </div>
</section>
