---
import { Image } from "astro:assets";
import wwEditorMainDarkMode from "../images/test2.jpg";
import wwEditorMainLightMode from "../images/test2-light2.jpg";
import wwEditorWorkflow from "../images/workflow.png";
import wwEditorFormula from "../images/formula.png";
import wwEditorAddPanel from "../images/add-panel.png";
import wwEditorStyling from "../images/styling.png";
import numeral from "../svg/numeral-one.svg?raw";
import ProjectHeader from "./ProjectHeader.astro";
import Testimonial from "./Testimonial.astro";
---

<section class="py-[60px]">
  <ProjectHeader
    name="WeWeb Editor"
    duration="2022 - PRESENT"
    description="The editor features many complex and intertwining systems such as components, workflows and more. We take web best practices and present them in an elevated and clear interface. As a result, editor can export clean and modern code."
    numeralSvg={numeral}
    accentColor="#274076"
  />

  <!-- Editor Image -->
  <div class="container">
    <div
      class="rounded-md flex justify-center items-center py-6 px-6 border border-[var(--color-border)] bg-[var(--main-shot-bg)]"
    >
      <div class="relative max-w-[1640px]">
        <Image
          class="drop-shadow-sm w-full opacity-[var(--editor-dark-mode-opacity)] rounded-md overflow-hidden outline outline-2 outline-[var(--color-border)]"
          src={wwEditorMainDarkMode}
          alt=""
        />
        <Image
          class="drop-shadow-lg w-full absolute top-0 left-0 opacity-[var(--editor-light-mode-opacity)] transition-opacity duration-500 rounded-md overflow-hidden"
          src={wwEditorMainLightMode}
          alt=""
        />
      </div>
    </div>
  </div>

  <div>
    <div class="container -wide mt-16 lg:mt-[24px] hidden">
      <div class="w-full flex flex-col">
        <div>
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 w-full">
            <div class="col-span-1">
              <Image
                src={wwEditorAddPanel}
                alt=""
                quality={100}
                class="bg-[#35454E] rounded-md overflow-hidden border border-[var(--color-border)]"
              />
            </div>

            <div class="col-span-1">
              <Image
                src={wwEditorStyling}
                alt=""
                quality={100}
                class="bg-[#262626] rounded-md overflow-hidden aspect-[5/3.67] lg:aspect-auto object-cover object-top border border-[var(--color-border)]"
              />
            </div>
          </div>

          <div class="grid grid-cols-1 lg:grid-cols-8 gap-6 w-full mt-4"></div>
        </div>
      </div>
    </div>

    <div class="container -wide mt-16 lg:mt-[24px] hidden">
      <div class="w-full flex flex-col">
        <div>
          <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 w-full">
            <div class="col-span-1">
              <Image
                src={wwEditorAddPanel}
                alt=""
                quality={100}
                class="bg-[#1E1E1E] rounded-md overflow-hidden border border-[var(--color-border)]"
              />
            </div>

            <div class="col-span-1">
              <Image
                src={wwEditorFormula}
                alt=""
                quality={100}
                class="bg-[#1E1E1E] rounded-md overflow-hidden border border-[var(--color-border)]"
              />
            </div>

            <div class="col-span-1">
              <Image
                src={wwEditorWorkflow}
                alt=""
                quality={100}
                class="bg-[#1E1E1E] rounded-md overflow-hidden aspect-[5/3.67] lg:aspect-auto object-cover object-top border border-[var(--color-border)]"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-16 lg:mt-[24px]">
      <div class="w-full flex flex-col">
        <div>
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 w-full">
            <div class="col-span-1">
              <Image
                src={wwEditorAddPanel}
                alt=""
                quality={100}
                class="bg-[var(--main-shot-bg)] rounded-md overflow-hidden border border-[var(--color-border)]"
              />
            </div>

            <div class="col-span-1">
              <Image
                src={wwEditorWorkflow}
                alt=""
                quality={100}
                class="bg-[var(--main-shot-bg)] rounded-md overflow-hidden aspect-[5/3.67] lg:aspect-auto object-cover object-top border border-[var(--color-border)]"
              />
            </div>

            <div class="col-span-1">
              <Image
                src={wwEditorFormula}
                alt=""
                quality={100}
                class="bg-[var(--main-shot-bg)] rounded-md overflow-hidden aspect-[5/3.67] lg:aspect-auto object-cover object-top border border-[var(--color-border)]"
              />
            </div>

            <div class="col-span-1 grid grid-cols-2 gap-4">
              <Testimonial
                comment="For me, it's because it feels a lot like Figma, but with auto-layout always on"
                handle="stevedesignerd"
              />

              <Testimonial
                comment="I started using WeWeb recently and it's on a league of its own"
                handle="pascowebdesigns"
              />

              <Testimonial
                comment="Definitely try @weweb_io for FE if you like Webflow"
                handle="andystrb"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="container mt-16 lg:mt-[120px] flex flex-row justify-center items-center"
    >
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
        <Testimonial
          comment="For me, it's because it feels a lot like Figma, but with auto-layout always on"
          handle="stevedesignerd"
        />

        <Testimonial
          comment="I started using WeWeb recently and it's on a league of its own"
          handle="pascowebdesigns"
        />

        <Testimonial
          comment="Definitely try @weweb_io for FE if you like Webflow"
          handle="andystrb"
        />
      </div>
    </div>
  </div>
</section>

<style is:global>
  :root {
    --main-shot-bg: #e7e6e6;
    --shot-bg: #cbcbcb;
    --editor-light-mode-opacity: 1;
  }

  .dark-mode {
    --main-shot-bg: transparent;
    --shot-bg: #343434;
    --editor-light-mode-opacity: 0;
  }
</style>
