---
import { Image } from "astro:assets";
import wwEditorMain from "../images/test2.jpg";
import wwEditorWorkflow from "../images/workflows.jpg";
import wwEditorFormula from "../images/formula.png";
import wwEditorIcons from "../images/icons.png";
import numeral from "../svg/numeral-one.svg?raw";
import ProjectHeader from "./ProjectHeader.astro";
---

<section class="py-[80px]">
  <div class="container -wide">
    <div class="border border-neutral-400 pb-10">
      <ProjectHeader
        name="Designing a powerful AI app builder"
        duration="2022 - PRESENT"
        description="The editor features many intertwining systems such as components, styles, workflows and more."
        numeralSvg={numeral}
        accentColor="#274076"
      />

      <div class="grid grid-cols-2 gap-4 px-6">
        <Image src={wwEditorMain} class="col-span-2" alt="" quality={100} />
        <Image src={wwEditorWorkflow} class="col-span-2" alt="" quality={100} />
        <Image src={wwEditorFormula} alt="" quality={100} />
        <Image src={wwEditorIcons} alt="" quality={100} />
      </div>
    </div>
  </div>
</section>
